@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  /* .trans {
    @apply delay-[2000ms] hover:line-clamp-none;
  }
} */
*/ html,
body {
  padding: 10px 5px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
